{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>
{% include 'header.html.twig' with {'categories': categories} %}

{% block mainContent %}
{% endblock %}

<footer>
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
</footer>
</body>
</html>
