<!-- templates/mainContent.html.twig -->


<!-- product section start -->
<div class="product_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="product_taital">Our Products</h1>
                <p class="product_text">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
        </div>
        <div class="product_section_2 layout_padding">
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-3 col-sm-6">
                        <div class="product_box">
                            <h4 class="bursh_text">{{ product.title }}</h4>
                            <p class="lorem_text">{{ product.description }}</p>
                            <img src="{{ asset(product.image) }}" class="image_1">
                            <div class="btn_main">
                                <div class="buy_bt">
                                    <ul>
                                        <li class="danger"><a href="#">LIKE</a></li>
                                        <li class="active"><a href="#">COMMENT</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="seemore_bt"><a href="#">See More</a></div>
        </div>
    </div>
</div>
<!-- product section end -->
