{% extends 'adminbase.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>
    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

